In [ ]:
mylist = [1,"two",3,("four","five"),{"six":6,"seven":7}]

In [ ]:
type(mylist)

In [ ]:
print("1st element ",mylist[0])
print("2nd element ",mylist[1])
print("3rd element ",mylist[2])
print("4th element ",mylist[3])
print("5th element ",mylist[4])

In [ ]:
print("5th element ",mylist[-1])
print("4th element ",mylist[-2])
print("3rd element ",mylist[-3])
print("2nd element ",mylist[-4])
print("1st element ",mylist[-5])

In [ ]:
len(mylist)

In [ ]:
mytuple = (1,"two",3,("four","five"),{"six":6,"seven":7})

In [ ]:
type(mytuple)

In [ ]:
print("1st element ",mytuple[0])
print("2nd element ",mytuple[1])
print("3rd element ",mytuple[2])
print("4th element ",mytuple[3])
print("5th element ",mytuple[4])

In [ ]:
print("5th element ",mytuple[-1])
print("4th element ",mytuple[-2])
print("3rd element ",mytuple[-3])
print("2nd element ",mytuple[-4])
print("1st element ",mytuple[-5])

In [ ]:
len(mytuple)

In [2]:
myset = {1,"two",3,("four","five"),"two",1}

In [3]:
type(myset)

set

In [4]:
len(myset)

4

#### Note above that though we add 6 elements to the set, since two of them are duplicates, they have not been taken into consideration

In [5]:
for el in myset:
    print(el)

1
3
two
('four', 'five')

In [ ]:
mydict = {(1):"one","two":2,3:"three"}

In [ ]:
type(mydict)

In [ ]:
mydict.get((1))

In [ ]:
mydict.get("two")

In [ ]:
mydict.get(3)