In [1]:
mytuple = (1,2,3,4)

In [2]:
print(mytuple.count(6))
print(mytuple.count(2))

0
1

In [3]:
mytuple.index(2)

1

In [4]:
mytuple.index(7)

ValueError: tuple.index(x): x not in tuple

#### Notice that trying to get an index which doesn't exist in the tuple throws a ValueError

In [5]:
myset = {1,2,3,4,5}

#### Add an element to the set

In [6]:
myset.add(6)
print(myset)

{1, 2, 3, 4, 5, 6}

#### Update method on set is similar to the extend method in list. The difference is that if there are duplicate elements, one one occurence is added to the original set.

In [7]:
myset2 = {4,5,6,7,8}
myset.update(myset2)
myset

{1, 2, 3, 4, 5, 6, 7, 8}

In [8]:
mylist = {1,2,9,10}
myset.update(mylist)
myset

{1, 2, 3, 4, 5, 6, 7, 8, 9, 10}

In [9]:
mydict = {1:"one",2:"two",3:"three"}

In [10]:
for key in mydict.keys():
  print(key," - ",mydict[key])

1  -  one
2  -  two
3  -  three

In [11]:
for item in mydict.items():
  print(item)

(1, 'one')
(2, 'two')
(3, 'three')

In [12]:
mylist1 = [1,2,3,4,5,6]

#Creates a dictionary mapping the keys in the collection onto None
print(mydict.fromkeys(mylist1))

#Creates a dictionary mapping the keys on the the value passed as second parameter
print(mydict.fromkeys(mylist1,0))

{1: None, 2: None, 3: None, 4: None, 5: None, 6: None}
{1: 0, 2: 0, 3: 0, 4: 0, 5: 0, 6: 0}

In [13]:
mydict2 = mydict.copy()

In [14]:
mydict2["newkey"] = "newvalue"

In [15]:
print("mydict ",mydict)
print("mydict2 ",mydict2)

mydict  {1: 'one', 2: 'two', 3: 'three'}
mydict2  {1: 'one', 2: 'two', 3: 'three', 'newkey': 'newvalue'}