In [32]:
import pymongo
from pymongo import MongoClient
client = MongoClient('mongodb://localhost:27017/')

In [33]:
#This will create a Collection/Database called books if it doesn't already exist
db = client['employees']

In [34]:
employees = db.employees

In [35]:
db.employees.insert_many([{"name": "Jessica", "Department":"IT","Salary": 6000},
                                 {"name": "Joseph", "Department":"IT","Salary": 7000},
                                 {"name": "Alex", "Department":"Accounts","Salary": 5000},
                                 {"name": "Julie", "Department":"IT","Salary": 3000},
                                 {"name": "James", "Department":"Admin","Salary": 8000},
                                 {"name": "Jacob", "Department":"Admin","Salary": 9000},
                                 {"name": "Kevin", "Department":"IT","Salary": 6500}
                              ])

In [36]:
for employee in employees.find():
  print(employee)

{'_id': ObjectId('611168cd5be29b3b17657601'), 'name': 'Jessica', 'Department': 'IT', 'Salary': 6000}
{'_id': ObjectId('611168cd5be29b3b17657602'), 'name': 'Joseph', 'Department': 'IT', 'Salary': 7000}
{'_id': ObjectId('611168cd5be29b3b17657603'), 'name': 'Alex', 'Department': 'Accounts', 'Salary': 5000}
{'_id': ObjectId('611168cd5be29b3b17657604'), 'name': 'Julie', 'Department': 'IT', 'Salary': 3000}
{'_id': ObjectId('611168cd5be29b3b17657605'), 'name': 'James', 'Department': 'Admin', 'Salary': 8000}
{'_id': ObjectId('611168cd5be29b3b17657606'), 'name': 'Jacob', 'Department': 'Admin', 'Salary': 9000}
{'_id': ObjectId('611168cd5be29b3b17657607'), 'name': 'Kevin', 'Department': 'IT', 'Salary': 6500}
{'_id': ObjectId('61116a085be29b3b17657609'), 'name': 'Jessica', 'Department': 'IT', 'Salary': 6000}
{'_id': ObjectId('61116a085be29b3b1765760a'), 'name': 'Joseph', 'Department': 'IT', 'Salary': 7000}
{'_id': ObjectId('61116a085be29b3b1765760b'), 'name': 'Alex', 'Department': 'Accounts', 'Salary': 5000}
{'_id': ObjectId('61116a085be29b3b1765760c'), 'name': 'Julie', 'Department': 'IT', 'Salary': 3000}
{'_id': ObjectId('61116a085be29b3b1765760d'), 'name': 'James', 'Department': 'Admin', 'Salary': 8000}
{'_id': ObjectId('61116a085be29b3b1765760e'), 'name': 'Jacob', 'Department': 'Admin', 'Salary': 9000}
{'_id': ObjectId('61116a085be29b3b1765760f'), 'name': 'Kevin', 'Department': 'IT', 'Salary': 6500}
{'_id': ObjectId('61116a565be29b3b17657611'), 'name': 'Jessica', 'Department': 'IT', 'Salary': 6000}
{'_id': ObjectId('61116a565be29b3b17657612'), 'name': 'Joseph', 'Department': 'IT', 'Salary': 7000}
{'_id': ObjectId('61116a565be29b3b17657613'), 'name': 'Alex', 'Department': 'Accounts', 'Salary': 5000}
{'_id': ObjectId('61116a565be29b3b17657614'), 'name': 'Julie', 'Department': 'IT', 'Salary': 3000}
{'_id': ObjectId('61116a565be29b3b17657615'), 'name': 'James', 'Department': 'Admin', 'Salary': 8000}
{'_id': ObjectId('61116a565be29b3b17657616'), 'name': 'Jacob', 'Department': 'Admin', 'Salary': 9000}
{'_id': ObjectId('61116a565be29b3b17657617'), 'name': 'Kevin', 'Department': 'IT', 'Salary': 6500}

In [37]:
#To get the total number of records in the collection
pipeline = [
     {"$group": {"_id": None,"Count": {"$sum": 1}}}]
grp_employees = db.employees.aggregate(pipeline)

In [38]:
for employee in grp_employees:
  print(employee)

{'_id': None, 'Count': 21}

In [39]:
#To group by department and get the total salary for each department
pipeline = [
     {"$group": {"_id": "$Department","Salary": {"$sum": "$Salary"}}}]
grp_employees = db.employees.aggregate(pipeline)

In [40]:
for employee in grp_employees:
  print(employee)

{'_id': 'IT', 'Salary': 67500}
{'_id': 'Accounts', 'Salary': 15000}
{'_id': 'Admin', 'Salary': 51000}

In [41]:
#To group by department and get the average salary for each department
pipeline = [
     {"$group": {"_id": "$Department","Salary": {"$avg": "$Salary"}}}]
grp_employees = db.employees.aggregate(pipeline)

In [42]:
for employee in grp_employees:
  print(employee['_id'],"\t Average Salary ",employee['Salary'])

IT 	 Average Salary  5625.0
Accounts 	 Average Salary  5000.0
Admin 	 Average Salary  8500.0

In [43]:
#To get the employees with the lowest salary
pipeline = [
     {"$group": {"_id": None ,"Minimum Salary": {"$min": "$Salary"}}}]
grp_employees = db.employees.aggregate(pipeline)

In [44]:
for employee in grp_employees:
    for spec_emp in employees.find({"Salary":employee['Minimum Salary']}):
        print("Name ",spec_emp['name'],"\nSalary ",spec_emp['Salary'])

Name  Julie
Salary  3000
Name  Julie
Salary  3000
Name  Julie
Salary  3000